@import url(http://fonts.googleapis.com/css?family=Inconsolata);

body {
	background: #EEE url('../img/theme/background.png') top repeat-x;
	font-size: 13px;
	line-height: 18px;
}

footer {
	margin-top: 20px;
}

footer p.pull-right {
	line-height: 18px;
}

textarea {
	height: 100px;
}

h1 {
	font-size: 30px;
	line-height: 36px;
}

#container {
	background-color: white;
	padding: 20px;
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
	padding-top: 40px;
}

#station {
	border: 1px solid gray;
	border-radius: 6px;
	font-family: Inconsolata, monospace;
	background: #DEE2CB;
	max-width: 330px;
	box-shadow: 1px 1px 8px #575757
}

#station-name {
	background: -webkit-linear-gradient(#ff8d00 0%, #ffcf86 100%);
	margin: 0 0 5px 0;
	padding: 5px 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#station-innerticket {
	padding: 0 10px;
	min-height: 110px;	
}

#station-footer {
	background: -webkit-linear-gradient(#ff8d00 0%, #ffcf86 100%);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 5px 0 6px 7px;
}

#map-canvas {
	width: 700px; 
	height: 700px;
}

#map-canvas img {
	max-width: none;
}