html, body { height: 100%; }
body {
    padding: 0;
    margin: 0;
}

#tubemap_div {width:100%; height:100%;}
#map-canvas{width:100%; height:100%;padding:0;}

.infobox
{
	border: 1px solid black; 
	margin: 6px;
	background: black; 
	padding: 20px; 
	color:white; 
	font-weight:bold;
	font-size:1.1em;
}

/* For footer with icons
.nav-glyphish .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.nav-glyphish .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
#tubemap_btn .ui-icon { background:  url(/public/img/map.png) 50% 50% no-repeat; background-size: 26px 21px; }
#filter_btn .ui-icon { background:  url(/public/img/filter.png) 50% 50% no-repeat; background-size: 24px 24px;  }
#list_btn .ui-icon { background:  url(/public/img/collection.png) 50% 50% no-repeat; background-size: 26px 20px;  }
#places_btn .ui-icon { background:  url(/public/img/quick-places.png) 50% 50% no-repeat;  background-size: 16px 26px; }
#event_btn .ui-icon { background:  url(/public/img/calendar.png) 50% 50% no-repeat;  background-size: 23px 25px; }
#help_btn .ui-icon { background:  url(/public/img/help.png) 50% 50% no-repeat;  background-size: 24px 26px; }
#about_btn .ui-icon { background:  url(/public/img/about.png) 50% 50% no-repeat;  background-size: 18px 26px; }
*/

.help-nav .ui-btn-inner{overflow: visible;}
#nav_map_a .ui-btn-inner{overflow: visible;}
#map_footer_div .ui-btn-inner, #tubelist_footer_div .ui-btn-inner{overflow:visible;}
